.signinContainer {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signupForm {
    margin: auto;
    height: 90vh;
}

.forms {
    background-color: rgba(32, 32, 32, 0.7);
    padding: 20px;
    border-radius: 20px;
}

.invisibleBTN {
    visibility: hidden;
}

p {
    font-size: 17px;
    color: white;
}   

.link {
    text-decoration: none;
    color: rgb(199, 199, 243);
    font-size: 17px;
    transition: 0.3s;
}
.link:hover{
    color: white;
}

.btn-signin{
    background-color: rgba(0, 16, 109, 0.5);
    border: 1px solid rgba(0, 16, 109, 0.5);
    color: white;
    transition: 0.22s background;
}
.btn-signin:hover{
    background-color: rgba(0, 16, 109, 1);
    border: 1px solid rgba(0, 16, 109, 1);
}
.btn-signin:active {
    background-color: rgb(207, 207, 207);
}

.btn-signup{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    transition: 0.22s background;
}
.btn-signup:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-signup:active{
    background-color: rgba(0, 16, 109, 1);
}