#navbar {
    background-color: #88cff1;
    color: white;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbarbrand {
    transition: 0.22s color;
}
.navbarbrand:hover {
    color: rgb(145, 145, 145);
}
.navbarbrand:active {
    color: white;
}

.navbutton {
    background:none;
    border: 0px;
    border-radius: 5px;
    transition: 0.3s background-color;
    padding: 10px;
}
.navbutton:hover {
    background-color: #49bdf3;
}
.navbutton:active {
    background-color: #0a5375;
    color: white;
}


#buttondevider {
    width: 0.1px;
    visibility:hidden;

}